<!DOCTYPE html>
<html>

<head>
    <title>Zombies</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <base href="/" />
</head>

<body>
    <!-- Canvases originally 600x360 -->
    <!-- The canvas for all enemy ships and bullets -->
    <!-- <canvas id="background" width="600" height="300">
        Your browser does not support canvas. Please try again with a different browser.
    </canvas>
    <canvas id="main" width="600" height="300">
    </canvas> -->
    <!-- The canvas the ship uses (can only move up
    one forth the screen.) -->
    <!-- <canvas id="ship" width="600" height="300">
    </canvas> -->
    {{{body}}}
</body>

</html>
