@import 'https://fonts.googleapis.com/css?family=Cinzel:900';
html {
    /*height: 100%;*/
}
body {
    margin: 0;
}
.angularBody {
    height: 100%;
    margin: 0;
}
.splashSection {
    height: 100vh;
    margin: 0 auto;
    background: url("/assets/images/background1.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Cinzel", sans-serif;
    color: black;
    text-align: center;
    /*justify-content: center;*/
}
.splashTitle {
    font-size: 7em;
    margin-right: 3em;
    /*margin-bottom: 8em;*/
    /*border: .1em solid black;*/
    /*padding: .1em;*/
}
.splashMenu {
    /*border: 0.7em solid black;*/
    margin-top: 10em;
    height: 20em;
    /*padding: 4em 2em;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*.splashMenu:first-child {
    margin-bottom: 3em;
}*/
.splashMenuButton {
    color: white;
    font-size: 3em;
    border: 0.25em solid white;
    padding: 0.5em;
}
