<!-- <section class="signupSection"> -->
<img class="signupBack" data-ng-src="/assets/images/arrowbackwhite.png" data-ui-sref="Splash" alt="Go Back" />
<h2>Signup</h2>
<!-- <div id="status">
</div> -->

<a href="/signup/facebook"><img data-ng-src="/assets/images/fblogin.png" alt="Facebook Log In" /></a>

<!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button> -->

<!-- <form data-ng-submit="SignupViewModel.create(email, password)">
    <input type="text" placeholder="Email" data-ng-model="email" />
    <input type="text" placeholder="Password" data-ng-model="password" />
    <br><br>
    <button type="submit">Sign Up</button>
</form> -->
<!-- </section> -->
