<!-- <section class="splashSection"> -->
<div class="splashTitle fade-in">ZED WARS</div>
<!-- <button data-ng-click="SplashViewModel.lions = !SplashViewModel.lions">Lions</button>
<button data-ng-click="SplashViewModel.cranes = !SplashViewModel.cranes">Cranes</button> -->
<div class="splashStory">
    <p class="fade-in storyOne">In 2016, the Zed overtook the Earth. <span class="to-red storyRedOne">Billions</span> died.</p>
    <p class="fade-in storyTwo">We don't know the cause. But for our species<br>to <span class="to-red storyRedTwo">survive</span>, we have to fight back.</p>
    <p>
        <span class="fade-in storyThree">Survive together. </span>
        <span class="fade-in storyFour">Die alone. </span>
        <span class="fade-in storyFive storyRedThree">Take back the world.</span>
    </p>
</div>
<div class="splashMenu fade-in">
    <div class="splashMenuButton" data-ui-sref="Signin">Resume the Fight</div>
    <div class="splashMenuButton" data-ui-sref="Signup">Join the Struggle</div>
</div>
<!-- </section> -->
